* {
    box-sizing: border-box;
  }

body {
    font-family: 'Merriweather Sans', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    overscroll-behavior: none;
    font-family: "Open Sans", sans-serif; 
    font-size: 20px;
    color: #444;
    line-height: 1.5;
}

.leftcolumn {   
    width: 100%;
    padding: 0;
  }

  /* Header */
  header {
    position: relative;
    height: 600px;
    width: 100%;
    padding: 20px;
    text-align: center;
    background: url(img/IMG_5107.JPG) repeat-x;
    background: linear-gradient(to right, #000000c2, #000000e3 0%, transparent), url(img/IMG_5107.JPG) no-repeat center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header{
      padding: 10px;
      position: relative;
      top: 40%;
      width: 80%;
  }
  
  .header h1 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 26px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #F2C14E, rgb(255, 255, 255) 95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

    /* Top Navigation Bar */
    .topnav {
        overflow: hidden;
        background-color: #6B9080;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 10px;
        height: 40px;
        align-items: center;
        justify-content: center;
      }
      
    /* Topnav Links */
    .topnav a {
        margin: 0%;
        font-size: 16px;
        text-align: right;
        text-decoration: none;
    }
    
    #myNavbar a {
        color: white;
        transition: all 0.4s ease-in;
    }
      
    /* Hover */
      .topnav a:hover {
        color: #F2C14E !important;
        text-shadow:0px 0px 30px black;
        -moz-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
        transform:translateY(20%);
    }

    /* Content */
    .content {
        position: relative;
        height: 250px;
        width: 30%;
        padding: 40px;
        margin: 0 auto;
        text-align: center;
        background-color: white;
    }

    /* Section */
    .section {
        padding: 20px;
        margin-top: 0;
        position: relative;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Bio Section */
    .bio {
        overflow: hidden;
        height: 550px;
    }

    .bio h2 {
        left: 40%;
        top: 5%;
    }

    .bio-title {
        text-shadow:0px 0px 30px #6B9080;
        font-size: 36px;
        color: #F2C14E;
        font-family: 'Raleway', sans-serif;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .bio .content {
        padding-right: 1%;
        padding-left: 1%;
        padding-top: 0%;
        left: 50%;
        top: 40%;
        width: 100%;
        position: relative;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    /* Projects Section */
    .project-title {
        margin-bottom: 0%;
        margin-top: 0%;
        text-shadow:0px 0px 30px #F2C14E;
        font-size: 36px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        color: #50808E;
        position: relative;
    }

    .project {
        height: 1300px;
        width: 100%;
        background-color: #DDD8C4;
        text-align: center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center {
        top: -5%;
        margin-bottom: 200px;
        width: 85%;
        background: url(img/project1.jpg) no-repeat center;
        background-size: 100% 100%;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        box-shadow: 10px 10px 5px #888888;
    }

    .left {
        top: -5%;
        margin-bottom: 100px;
        width: 85%;
        background: url(img/coming-soon.png) no-repeat center;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        box-shadow: 10px 10px 5px #888888;
    }

    .right {
        top: 3%;
        width: 85%;
        background: url(img/coming-soon.png) no-repeat center;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        box-shadow: 10px 10px 5px #888888;
    }

    .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: #6B9080;
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;
    }

    .content:hover .overlay {
        bottom: 0;
        height: 100%;
    }

    .text-holder {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .text {
        width: 100%;
        height: 50px;
        color: #6B9080;
        font-size: 20px;
        position: relative;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        text-shadow:0px 0px 30px #F2C14E;
        font-family: 'Raleway', sans-serif;
    }

    .content .description {
        left: -15%;
        top: 140%;
        font-size: 16px;
        padding: 5px;
        width: 130%;
        text-align: left;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text {
        height: 50px;
        padding-top: 0px;
        margin-bottom: 10px;
        top: 150%;
        width: 225px;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        text-align: left;
        overflow: hidden;
        position: relative;
        margin: 5 auto;
        left: 50%;
    }

    .content p {
        font-size: 16px;
        margin: 0 auto;
    }

    .project .links {
        padding: 5px;
        top: 250px;
        width: 260px;
        text-align: left;
        overflow: hidden;
        position: relative;
        margin: 5 auto;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    .demo, .repo {
        font-size: 18px;
    }

    .center-title {
        width: 100%;
        height: 50px;
        color: #6B9080;
        font-size: 20px;
        position: relative;
        top: 27%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        text-shadow:0px 0px 30px #F2C14E;
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }

    /* Contact Section */

    .contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        background-color: #EAF4F4;
        overflow: hidden;
        height: 350px;
    }

    .contact .content {
        align-self: center;
        font-size: 18px;
        width: 100%;
        margin: 0 auto;
        line-height: 34px;
        background-color: #EAF4F4;
        padding: 20px;
        height: 300px;
        overflow: hidden;
        text-align: left;
    }

    .contact-title {
        align-self: center;
        text-shadow:0px 0px 30px #F2C14E;
        font-size: 36px;
        font-family: 'Raleway', sans-serif;
        margin: 0;
    }

    .email, .github, .linkedin {
        font-size: 20px;
        color: #6B9080;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }

    /* unvisited link */
    a:link {
        color: black;
    }

    /* visited link */
    a:visited {
        color: black;
    }

    /* mouse over link */
    a:hover {
        color: #6B9080;
        text-shadow:0px 0px 30px #F2C14E;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    /* selected link */
    a:active {
        color: #6B9080;
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }
    
    /* Footer */

    .footer {
        padding: 20px;
        text-align: center;
        background: #6B9080;
        margin-top: 0;
    }
    
    .footer-social {
        display: inline;
        text-align: center;
    }
    
    .footer-social a {
        background-color: #555;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 30px;
        height: 60px;
        line-height: 60px;
        margin: 5px;
        text-align: center;
        width: 60px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    /* Sticky Nav */
    /* .sticky {
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
    }

    .sticky + .content {
        padding-top: 60px;
    }

    .top-content {
        position: relative;
        z-index: 1;
    } */

    @media screen and (max-width:320px) {
        header {
            height: 320px;
        }

        .header{
            padding: 10px;
            position: relative;
            top: 40%;
            width: 90%;
        }

        .header h1 {
            font-size: 20px;
        }

        .bio {
            height: 650px;
        }

        .bio .content {
            top: 35%
        }
        
        .topnav {
            justify-content: right;
        }

        .topnav a {
            padding-left: 20px;
        }

        .center {
            background-size: 100% 100%;
            width: 95%;
        }

        .left {
            background-size: 100% 100%;
            width: 95%;
        }

        .right {
            top: 5%;
            background-size: 100% 100%;
            width: 95%;
        }

        .content .description {
            width: 220px;
        }

        .project .links {
            width: 220px;
        }
    }

    @media screen and (min-width:375px) {
        header {
            height: 350px;
        }

        .header{
            padding: 10px;
            position: relative;
            top: 40%;
            width: 90%;
        }

        .header h1 {
            font-size: 20px;
        }

        .bio {
            height: 550px;
        }

        .bio h2 {
            left: 45%;
        }

        .bio-title {
            top: 75%;
        }

        .bio .content {
            top: 40%
        }

        .topnav {
            justify-content: right;
        }

        .topnav a {
            padding-left: 20px;
        }

        .center {
            background-size: 100% 100%;
        }

    }

    @media screen and (min-width:425px) {
        header {
            height: 319px;
        }

        .header{
            padding: 10px;
            position: relative;
            top: 40%;
            width: 90%;
        }

        .header h1 {
            font-size: 20px;
        }

        .bio {
            height: 500px;
        }

        .bio .content {
            top: 55%;
        }

        .bio h2 {
            left: 45%;
        }

        .project .links {
            width: 320px;
        }
    }
      
    @media screen and (min-width:480px) {
        header {
            height: 550px;
        }

        .bio h2 {
            left: 45%;
        }

        .text {
            width: 325px;
        }

        .project .links {
            width: 380px;
        }

        .center {
            background-size: 100% 100%;
        }
    }

    @media screen and (min-width:768px) {
        header {
            height: 500px;
        }

        .header{
            padding: 10px;
            position: relative;
            top: 40%;
            width: 90%;
        }

        .header h1 {
            font-size: 28px;
        }

        .bio {
            height: 500px;
        }
        
        .bio h2 {
            left: 0%;
            top: 5%;
        }

        .bio-title {
            position: relative;
            display: flex;
            align-self: center;
            justify-content: center;
        }

        .bio .content {
            padding-left: 20px;
            top: 35%;
        }

        .content p {
            font-size: 20px;
        }

        .center {
            background-size: 100% 100%;
            width: 70%;
        }

        .left {
            background-size: 100% 100%;
            width: 70%;
        }

        .right {
            background-size: 100% 100%;
            width: 70%;
        }

        .center-title {
            font-size: 28px;
        }

        .content .description {
            font-size: 22px;
            width: 500px;
            left: -10%;
            top: 145%;

        }

        .text {
            width: 450px;
        }

        .project .links {
            top: 275px;
            width: 520px;
        }

        .demo, .repo {
            font-size: 22px;
        }

        .contact .content {
            width: 50%;
        }

    }

    @media screen and (min-width:1024px) {
        header {
            height: 500px;
        }

        .header h1 {
            font-size: 36px;
        }

        .topnav {
            height: 60px;
        }

        .topnav a {
            font-size: 22px;
        }

        .bio {
            height: 500px;
        }


        .bio-title {
            font-size: 44px;
        }

        .bio .content {
            padding-left: 20px;
            top: 30%;
        }

        .content p {
            font-size: 24px;
        }

        .center {
            background-size: 100% 100%;
            width: 50%;
        }

        .left {
            background-size: 100% 100%;
            width: 50%;
        }

        .right {
            background-size: 100% 100%;
            width: 50%;
        }

        .content .description {
            font-size: 22px;
            width: 500px;
            left: -10%;
            top: 140%;

        }

        .text {
            width: 450px;
            height: 60px;
        }

        .project .links {
            top: 265px;
            width: 500px;
        }

        .demo, .repo {
            font-size: 22px;
        }

        .contact .content {
            width: 30%;
        }

        .footer-social a {
            background-color: #555;
            border-radius: 50%;
            color: #fff;
            display: inline-block;
            font-size: 40px;
            height: 80px;
            line-height: 80px;
            margin: 5px;
            text-align: center;
            width: 80px;
        }
    }

    @media screen and (min-width:1240px) {
        header {
            height: 500px;
        }

        .header h1 {
            font-size: 36px;
        }
    
        .topnav {
            height: 60px;
        }
    
        .topnav a {
            font-size: 22px;
        }

        .bio {
            height: 500px;
        }
    
    
        .bio-title {
            font-size: 44px;
        }
    
        .bio .content {
            left: 40%;
            padding-left: 20px;
            top: 30%;
            width: 80%;
        }
    
        .content p {
            font-size: 22px;
        }
    
        .project {
            height: 1350px;
        }
    
        .center-title {
            top: 25%;
            font-size: 28px;
        }
    
        .center {
            background-size: 100% 100%;
            width: 40%;
        }
    
        .left {
            background-size: 100% 100%;
            width: 40%;
        }
    
        .right {
            top: 3%;
            background-size: 100% 100%;
            width: 40%;
        }
    
        .content .description {
            font-size: 20px;
            width: 530px;
            left: -12%;
            top: 140%;
    
        }
    
        .project-title {
            font-size: 44px;
        }
    
        .text {
            width: 450px;
            height: 60px;
        }
    
        .project .links {
            top: 265px;
            width: 500px;
        }
    
        .demo, .repo {
            font-size: 22px;
        }
    
        .contact-title {
            font-size: 44px;
        }
    
        .contact .content {
            width: 30%;
            font-size: 22px;
        }
    
        .footer-social a {
            background-color: #555;
            border-radius: 50%;
            color: #fff;
            display: inline-block;
            font-size: 40px;
            height: 80px;
            line-height: 80px;
            margin: 5px;
            text-align: center;
            width: 80px;
        }
    }

@media screen and (min-width:1440px) {
    header {
        height: 800px;
    }

    .header h1 {
        font-size: 38px;
    }

    .topnav {
        height: 60px;
    }

    .topnav a {
        font-size: 22px;
    }

    .bio {
        height: 550px;
    }


    .bio-title {
        font-size: 48px;
    }

    .bio .content {
        left: 40%;
        padding-left: 20px;
        top: 30%;
        width: 80%;
    }

    .content p {
        font-size: 24px;
    }

    .project {
        height: 1500px;
    }

    .center-title {
        top: 22%;
        font-size: 32px;
    }

    .center {
        background-size: 100% 100%;
        width: 40%;
    }

    .left {
        background-size: 100% 100%;
        width: 40%;
    }

    .right {
        top: 8%;
        background-size: 100% 100%;
        width: 40%;
    }

    .content .description {
        font-size: 26px;
        width: 520px;
        left: -5%;
        top: 140%;
    }

    .project-title {
        font-size: 48px;
    }

    .project .links {
        top: 265px;
        width: 520px;
    }

    .demo, .repo {
        font-size: 26px;
    }

    .contact-title {
        font-size: 48px;
    }

    .contact .content {
        width: 30%;
        font-size: 26px;
    }

    .footer-social a {
        background-color: #555;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 40px;
        height: 80px;
        line-height: 80px;
        margin: 5px;
        text-align: center;
        width: 80px;
    }
}

@media screen and (min-width:1500px) {
        header {
            height: 550px;
        }

        .center {
            background-size: 100% 100%;
            width: 30%;
        }

        .left {
            background-size: 100% 100%;
            width: 30%;
        }

        .right {
            top: 8%;
            background-size: 100% 100%;
            width: 30%;
        }

        .project .links {
            width: 440px;
        }

        .content .description {
            width: 620px;
            left: -25%;
        }
}